


    <div class="top-bar">
<div class="title">Tiles</div>
<div class="menu">

    General
</div>        

    </div>
    <div class="main-content">
        <div class="section-display">
<div class="title">

    Display
</div>
            <div class="picker"></div>
        </div>
        <div class="subsection">
            <div class="title">Text</div>
        </div>
        <div class="subsection asymetric">
            <div class="title">Other</div>
        </div>
    </div>
    <!-- <div class="full-line"></div> -->
    <div class="bottom-button">Update</div>
    