


    <div class="top-bar">
<div class="title">Tiles</div>
<div class="menu">

    General
</div>        

    </div>
    <div class="main-content">
        <div class="section-display">
<div class="title">

    Display
</div>
<input type="text">
            <div class="picker"></div>
        </div>
        <div class="subsection">
            <div class="title">Text</div>
            <div class="side-table">
                <div class="row">
                    <div class="title">Title</div>
                    <input type="text" placeholder="Name">
                </div>
                <div class="row">
                    <div class="title">Subtitle</div>
                    <input type="text" placeholder="Name">
                </div>
            </div>
        </div>
        <div class="subsection asymetric">
            <div class="title">Other</div>
            <div class="load-table">
                <div class="row"id="top">
                    <div class="title" >Load All</div>
                    <img src="../../../assets/images/icon-admin-iconset-plus-gray.svg" alt="">
                </div>
                <div class="row">
                    <div class="title">Toggle visible</div>
                    <input type="text" placeholder="6">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="full-line"></div> -->
    <div class="bottom-button">Update</div>
    