/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    margin: 0;
    padding: 1rem 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    transition-duration: 0.3s;
}

:root {
    --title-font-size: 0.95rem;
    --converse-color: #407cff;

}